.content {
	display: flex;
	flex-direction: column;
	justify-content:center;
	/* margin-top: 128upx; */
}

/* 头部 logo */
.close {
	position: absolute;
	left: 60upx;
	top: 10upx;
	z-index: 10;
	font-size: 60upx;
}
.header {
	position: relative;
	height:161upx;
	margin-top: 120upx;
	margin-bottom: 72upx;
	text-align: center;
}
.header image {
	width:161upx;
	height:161upx;
	border-radius:50%;
	
}
/* 主体 */
.main {
	display: flex;
	flex-direction: column;
	padding-left: 70upx;
	padding-right: 70upx;
}
.tips {
	color: #999999;
	font-size: 28upx;
	margin-top: 64upx;
	margin-left: 48upx;
}
.mode1_text, .mode2_text {
	margin-top:35upx ;
	padding-left: 75upx;
	padding-right: 75upx;
}
/* 其他登录方式 */
.other_login{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 128upx;
	text-align: center;
}
.login_icon{
	border: none;
	font-size: 64upx;
	margin: 0 64upx 0 64upx;
	color: rgba(0,0,0,0.7)
}
.wechat_color{
	color: #83DC42;
}
.weibo_color{
	color: #F9221D;
}
.github_color{
	color: #24292E;
}

/* 底部 */
.footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 28upx;
	margin-top: 32upx;
	margin-bottom: 32upx;
	color: rgba(0,0,0,0.7);
	text-align: center;
	height: 40upx;
	line-height: 40upx;
}
.footer text{
	font-size: 24upx;
	margin-left: 15upx;
	margin-right: 15upx;
}